.el-aside {
    background-color: #D3DCE6;
    color: #333;
}

.el-main {
    /*background-color: #E9EEF3;*/
    color: #333;
    text-align: center;
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.el-row {
    margin-bottom: 20px;
}
.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
}

.el-select .el-input {
    width: 130px;
}
